@media only screen and (min-width: 800px) {
  .feed {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid lightgray;
    overflow-y: scroll;
  }
  .feed::-webkit-scrollbar {
    width: 5px;
  }
  .feed::-webkit-scrollbar-track {
    border: none;
  }
  .feed::-webkit-scrollbar-thumb {
    background: linen;
    border-radius: 10px;
  }
  .post-section {
    margin: 1em 0;
  }
  .post-input {
    width: 500px;
    padding: 0.2em 0.5em;
    margin-right: 1em;
    border: none;
    font-size: 1em;
    background: transparent;
    border-bottom: 2px solid linen;
    outline: none;
    color: linen;
  }
  .post-btn {
    border-radius: 10px;
    padding: 0.2em 1em;
    border: none;
    background: linen;
    color: #264653;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
  }
  .post-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .post {
    width: 80%;
    background: #fff;
    margin-bottom: 1em;
    height: 150px;
    border-radius: 10px;
    color: #264653;
    padding: 0.5em 1em;
  }
  .post-header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9em;
  }
  .content {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .content-text {
    font-weight: bold;
    font-size: 0.9em;
  }
  .date {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .date p {
    font-weight: bold;
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 1800px) {
  .feed {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid lightgray;
    overflow-y: scroll;
  }
  .feed::-webkit-scrollbar {
    width: 5px;
  }
  .feed::-webkit-scrollbar-track {
    border: none;
  }
  .feed::-webkit-scrollbar-thumb {
    background: linen;
    border-radius: 10px;
  }
  .post-section {
    margin: 1em 0;
  }
  .post-input {
    width: 500px;
    padding: 0.2em 0.5em;
    margin-right: 1em;
    border: none;
    font-size: 1em;
    background: transparent;
    border-bottom: 2px solid linen;
    outline: none;
    color: linen;
  }
  .post-btn {
    border-radius: 10px;
    padding: 0.2em 1em;
    border: none;
    background: linen;
    color: #264653;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
  }
  .post-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .post {
    width: 80%;
    background: #fff;
    margin-bottom: 1em;
    height: 200px;
    border-radius: 10px;
    color: #264653;
    padding: 0.5em 1em;
  }
  .post-header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .content {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .content-text {
    font-weight: bold;
  }
  .date {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .date p {
    font-weight: bold;
  }
}
