@media only screen and (min-width: 800px) {
  .person {
    width: 100%;
    height: 32px;
    background: linen;
    margin-bottom: 1em;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.25em;
  }
  .image-container {
    width: 1.55em;
    height: 1.55em;
    overflow: hidden;
    border-radius: 50%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .name-container {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .name-container p {
    color: #264653;
    font-weight: bold;
    font-size: 0.9em;
  }
  .friend-btn-container {
    width: 39px;
    height: 39px;
    display: grid;
    place-items: center;
  }
  .icon {
    font-size: 1.2em;
    color: #264653;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1800px) {
  .person {
    width: 80%;
    height: 40px;
    background: linen;
    margin-bottom: 1em;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.2em;
  }
  .image-container {
    width: 2.1em;
    height: 2.1em;
    overflow: hidden;
    border-radius: 50%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .name-container {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .name-container p {
    color: #264653;
    font-weight: bold;
  }
  .friend-btn-container {
    width: 39px;
    height: 39px;
    display: grid;
    place-items: center;
  }
  .icon {
    font-size: 1.2em;
    color: #264653;
  }
}
